<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Eğitmen Sayfasına Hoş Geldiniz</title>
</head>
<body>
<table border="1">
    <tr><td colspan="2">Değerli Eğitmenimiz Hoş Geldiniz</td></tr>
    <tr><td>Eğitmen Adı</td><td >{{ egitmen_bilgisi.egitmen_adi_soyadi }}</td></tr>
    <tr><td><a href="program_guncelle_sil"> Antrenman Programlarını Güncelle ve Sil</a></td><td ><a href="program_ekle"> Antrenman Programı Ekle</a></td></tr>
    <tr><td colspan="2"><a href="uye_antrenman_listesi"> Üye Antrenman İşlemleri</a></td></tr>
</table>
</body>
</html>